/* about map*/
.about-us {
  text-align: center;
  justify-content: center;
}

#map {
  height: 450px;
  width: 40%;
}

.section1__about {
  display: flex;
  align-items: center;
}

.text__about {
  width: 60%;
  padding: 20px;
}

.shape-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape-line .mini-line {
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ff8c00;
}

.center-line {
  width: 5%;
  height: 2px;
  background-color: #ff6600;
  margin: 0 auto;
}

/*end about map*/
/*faq chefs*/
.faq-part {
  background: linear-gradient(225deg, darkorange, rgb(244, 221, 190));

}

.faq {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.container-portrait {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 40px;
}

.image-portrait {
  display: grid;
  gap: 10px;
  justify-items: center;

}

.profile {
  height: 320px;
  max-width: 307px;
  border-radius: 15%;
}

.faq-item {
  /* text-align: center; */
  display: grid;
  justify-items: center;
}

.answer {
  display: none;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  width: 50%;
}

.question-btn {
  background-color: rgb(255, 255, 255);
  width: 50%;
  text-align: left;
  padding: 10px;
  border: none;
  border: 1px dashed #ff00ea;
  margin: 10px;
}

.question-btn:focus {
  outline: none;
}

.question-btn:hover {
  cursor: pointer;
  border-style: solid;
}

span {
  color: black;
}




@media (max-width:800px) {
  .section1__about {
    flex-direction: column;
  }

  #map {
    width: 80%;
  }
}