
form{
    display: grid;
    grid-gap: 10px;
}

.contact__full {
    background-image: linear-gradient(to left,#EB9A3B, rgb(255, 236, 198));
    display: flex;
    transform: skewY(-5deg);
    transform-origin: top left;
}

.left_section {
    display: flex;
    flex-direction: column;
}

.contact__title {
    color: black;
    font-size: x-large;
    transform: skewY(5deg);
    transform-origin: top left;
    margin-left: 40px;
    margin-right: 500px;
}

.contact__content {
    color: gray;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    transform: skewY(5deg);
    transform-origin: top left;
    margin-right: 550px;
    margin-left: 40px;
}

.contact__content1 {
    color: gray;
    font-size: larger;
    display: flex;
    flex-direction: column;
    transform: skewY(5deg);
    transform-origin: top left;
    margin-right: 550px;
    margin-left: 40px;
}

.contact__content2 {
    color: gray;
    font-size: small;
    font-style: normal;
    transform: skewY(5deg);
    transform-origin: top left;
    margin-right: 400px;
    margin-left: 40px;
}

.right_section {
    background-color: white;
    border-radius: 50px;
    display: flex;
    transform: skewY(5deg);
    transform-origin: top left;
    flex-direction: column;
    margin: 30px;
    margin-right: 800px;
    margin-left: -290px;
    margin-bottom: 100px;
    padding: 110px;

}

.text_message {
    size: 50px;
}

.contact__header{
    padding: 6px 8px;
    color: #ffffff;
    border: 2px solid #ff8c00;
}
.contact__header:hover{
    background: #ff8c00;
    color: #ffffff;
    border:2px solid #ffffff ;
}

.submit_button {
    text-align: center;
    font-size: 21px;
    border-radius: 50px;
    border-color: white ;
    background-color: #EB9A3B;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 120px;
    margin-top: 20px;
}

.footer_container {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin: 40px;
}

.about-icon2 {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-top: 60px;
}


.contact{
    display: grid;
    grid-gap: 15px;
    justify-items: center;
}

.quik-list {
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 10px;
    display: grid;
    /* margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-content: space-between;
    justify-content: space-around;
}

.link-title {
    text-decoration: none;
    display: grid;
    /* margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-content: space-between;
    justify-content: space-around;
}

.link_list {
    text-decoration: none;
    display: grid;
    margin-top: 10px;
}

li { 
    margin-bottom: 15px;
}

.about-icon1 {
    display: flex;
    align-items: center;
    gap: 14px;
    transform: skewY(5deg);
    transform-origin: top left;
    margin-right: 550px;
    margin-left: 40px;
}

form
input[type=text],
input[type=email] {
    width: 333.5px;
    padding: 0.5rem 0.75rem;
    border: 1px solid #eae6e6cc;
}

input[type="email"]:focus {
    outline: 2px solid #ff8c00;
}
textarea{
    padding: 0.5rem 0.75rem;
    border: 1px solid #eae6e6cc; 
}
textarea:focus{
    outline: 2px solid #ff8c00;
}
.error{
    font-size: 20px;
    color:  #ff0000;
}
