@media(min-device-width: 200px) and (max-device-width: 800px){

    .container_ourMenu{
        display: grid;
        grid-template-columns: repeat(1, 0fr);
       place-content: center;
    
    }

    .col-2{
        width: fit-content;
        block-size: fit-content;
    } 

    .image img{
        width: 200px;
    }
    .container_ourMenu .sub-title, .cur{
    display: none;
}

.about .sub-title{
    display: none;
}
   .footer_container{
        display: grid;
        grid-template-columns: repeat(4, 0fr);
        justify-content: center;

    }

    .line{
        width: auto;
    }
}