@media(max-device-width: 800px) {
    .ourMenu{
        margin-top: 0;
    }
    .footer_container{
        display: grid;
    grid-template-columns: repeat(2, -1fr);
    justify-content: center;
}
.subscribe {
    display: grid;
    place-items: center;
    padding: 20px;
}

.subscribe .form{
    display: flex;
    flex-direction: column;
}
.shape-line{
    margin: 10px;
}
.line {
    width: 100%;
}
}

@media screen and (max-width: 999px){

    .col-2{
        width: fit-content;
        block-size: fit-content;
    } 

    .image img{
        width: 200px;
    }
    .container_ourMenu .sub-title, .cur{
    display: none;
}

.about .sub-title{
    display: none;
}

    .line{
        width: auto;
    }
}

@media(min-device-width: 200px) and (max-device-width: 999px){
    .container_ourMenu {
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        justify-content: center;
        margin: 10px;
}
}