@media(max-width:700px){
    .Menu__header{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: orange;
        width: 100%;
        text-align: center;
    }  
   
    /*#burger__header{
        display: block;
        width: 25px;
    }*/
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


    .menu_header {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: block;
        background-color: orange;
        width: 100%;
        text-align: center;
    
        /*display: block;*/
        
       /* background-color: whitesmoke;*/
    }
    .menu_header.active{
        left: 0;
    }
    /* icons*/
    .last-container{
        display: flex;
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    
    
    .contact__header{
        background-color: darkorange;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        
    }
    .main-container__resto{
        margin: 0;
    }
    .part1__header{
     display: flex;
     background-color: darkorange;
     margin-bottom: 40px;
    top: 0;
    }
    .column__resto{
        display: flex;
        row-gap: 0px;
        column-gap: 2px;
    }
    .left-image__resto {
        height: 300px;
        width: 300px;
        flex-direction: row;
    }
    .middle-image-top__resto{
        display: none;
    } 
    .middle-image-bottom__resto{
        display: none;
    }
    .right-image__resto{
        display: none;
    }
}
   