<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background-color: #cccc;
    margin-top: 80px;
    /* margin: 0 clamp(4rem, 12vw, 20rem); */
    /* height: 100vh; */
}

.sub-title {
    color: #ccc;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffa500;
}

img,
picture {
    width: 100%;
}

/* title */
.menu-title {
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 5px;
}

/* end */
=======
>>>>>>> 0d5902b68d2e706d9be53500a6d16be9572c4801
.container {
    width: fit-content;
    margin: 0 auto;
}
.text {
    color: black;
    display: flex;
    margin-right: 500px;
    margin-left: 500px;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chef {
    display: flex;
    margin-right: 500px;
    margin-left: 485px;
    width: 200px;
    flex-direction: column;
    justify-content: center;
}

.title {
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: overline rgb(238, 107, 13);
    text-align: center;
}


.full {
    background-color: aliceblue;
    display: flex;
}

p {
    font-size: smaller;
    color: gray;
}

.right {
    background-color: white;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.cook {
    font-size:x-large;
    color: rgb(238, 107, 13);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dish1 {
    width: 650px;
    height: 320px;
}

.left {
    background-color: white;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(238, 107, 13);
    border: none;
    padding: 7px;
    margin-right: 450px;
}