.container {
    width: fit-content;
    margin: 0 auto;
}
.text {
    color: black;
    display: flex;
    margin-right: 500px;
    margin-left: 500px;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* <<<<<<< HEAD */
.chef {
    display: flex;
    margin-right: 500px;
    margin-left: 485px;
    width: 200px;
    flex-direction: column;
    justify-content: center;
}

.title {
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: overline rgb(238, 107, 13);
/* ======= */
}



.full {
    background-color: aliceblue;
    display: flex;
}

p {
    font-size: smaller;
    color: gray;
}

.right {
    background-color: white;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.cook {
    font-size:x-large;
    color: rgb(238, 107, 13);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dish1 {
    width: 650px;
    height: 320px;
}

.dish2 {
    width: 650px;
    height: 320px;
}

.left {
    background-color: white;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(238, 107, 13);
    border: none;
    padding: 7px;
    margin-right: 450px;
}
/* ======= */
/* end */
