.TESTIMONIAL{
    margin-top: 250px;
}
.test-title {
    color: black;
    display: grid;
    place-content: center;
}


.chef {
   position: relative;
   
   top: 0;
   bottom: 0;
}
.chef img{
    width: 200px;
}

.title {
    align-content: center;
    text-decoration: overline rgb(238, 107, 13);
    text-align: center;
}


.full {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
p {
    font-size: smaller;
    color: gray;
}

.right {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    gap: 7px;
    
}

.cook {
    font-size:15px;
    color: rgb(238, 107, 13);
}

.dish {
    width: 100%;
    height: 320px;
}

.button {
    color: white;
    background-color: rgb(238, 107, 13);
    border: none;
    padding: 7px;
}

.text-test{
    padding:30px ;
}